<div class="col-12 xl:col-12">
    <h6>Evrak Bilgileri</h6>
    <div class="card">
        <div class="formgrid grid">
                <div class="field col">
                    <label for="firstname2">Evrak Türü</label>
                    <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col">
                    <label for="lastname2">Belge Türü</label>
                    <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
        </div>   
            <div class="formgrid grid">
                    <div class="field col">
                        <label for="firstname2">Geldiği/Gittiği Kişi Adı</label>
                        <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                        <label for="lastname2">Geldiği/Gittiği Kurum Adı
                        </label>
                        <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>   
        <div class="formgrid grid">
            <div class="field col">
                <label for="firstname2">Bağlantılı Büro Dosya No</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="lastname2">Konu</label>
                <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="firstname2">Belge Kayıt Tarihi</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="address">Açıklama</label>
                <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="firstname2">Kurum Belge No</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">

            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="firstname2">Kurum Belge Tarihi</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                
            </div>
        </div>
        <div>
            <p-button label="Geri" styleClass="p-button-rounded p-button-secondary pi pi-arrow-circle-left"></p-button>
            <p-button label="Kaydet" styleClass="p-button-rounded p-button-success pi pi-save"></p-button>
        </div>
    
    </div>
</div>
