<h5>İletişim Bilgileri</h5>
<div class="card">
    <h4>Adres Bilgileri</h4>
    <div ng-bind-html="renderHtml(post.ILETISIM_BILGILERI_METNI)" class="ng-binding">Hacettepe Üniversitesi, Teknokent<br>2.Ar-Ge Binası No:8 <br>Beytepe - Ankara / Türkiye</div>
</div>
<div class="card">
    <h5>İletişim Bilgileri</h5>
    <div ng-bind-html="renderHtml(post.ILETISIM_BILGILERI_METNI)" class="ng-binding">T: +90 (850) 251 8 427<br>F: +90 (850) 251 8 427<br>E: bilgi@burotek.av.tr</div>
</div>
<div class="card">
    <h5>İletişim Bilgileri</h5>
    Pazartesi - Cuma, 09:00 - 18:00
</div>