<form [formGroup]="form" (ngSubmit)="onSubmit()" class="Summary" style="font-size: 13px; " >
  <div class="container">
  <div class="en büyük div">
    <div class="form-group1">
      <label for="adSoyad"><b>Ad Soyad</b></label>
      <div class="ng-binding"></div>
    </div>
    <div class="form-group1">
      <label for="tcKimlikNo"><b>TC Kimlik No</b></label>
      <div class="ng-binding"></div>
    </div>
    <div class="form-group1">
      <label for="ucret"><b>Ücret</b></label>
      <div class="ng-binding"></div>
    </div>
    <div class="form-group1">
      <label><b>Ödeme Türü</b></label>
      <p class="Check-Item" >
        <label class="" style="font-weight: 3px; font-size: 14px;">
          <i class="iradio_square-green checked">
            <input
              icheck=""
              type="radio"
              name="rd_KART_TIPI"
              ng-value="2"
              ng-model="kartTipiID"
              class="ng-pristine ng-untouched ng-valid"
              value="2"
            />
            <ins class="iCheck-helper"></ins>
          </i>
          &nbsp;<b>Barokart</b>
        </label>
        &nbsp;&nbsp;&nbsp;
        <label class="" style="font-weight: 1px; font-size: 14px;">
          <i class="iradio_square-green">
            <input
              icheck=""
              type="radio"
              name="rd_KART_TIPI"
              ng-value="1"
              ng-model="kartTipiID"
              class="ng-pristine ng-untouched ng-valid"
              value="1"
            />
            <ins class="iCheck-helper"></ins>
          </i>
          &nbsp;<b>Kredi Kartı</b>
        </label>

      </p>
    </div>
  </div>
    <div class="form-group">
      <label for="kartSahibi"><b>Kart Sahibi</b></label>
      <input
        type="text"
        formControlName="sahip"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        [ngClass]="{ 'is-invalid': submitted && f['sahip'].errors }"
      />
      <div *ngIf="submitted && f['sahip'].errors" class="invalid-feedback">

        Lütfen kullanıcının adını giriniz.

      </div>
    </div>
    <div class="form-group">
      <label for="cepTelefonu"><b>Cep Telefonu</b></label>
      <input
        type="text"
        numeric
        maxlength="11"
        formControlName="tel"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        [ngClass]="{ 'is-invalid': submitted && f['tel'].errors }"
        (keypress)="keyPressNumbers($event)"
      />
      <div *ngIf="submitted && f['tel'].errors" class="invalid-feedback">

        Lütfen cep telefon numaranızı giriniz.
      </div>

    </div>
    <div class="form-group">
      <label for="kartNumarasi"><b>Kart Numarası</b></label>
      <input
        type="text"
        numeric
        maxlength="16"
        formControlName="cardNo"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"

        [ngClass]="{ 'is-invalid': submitted && f['cardNo'].errors }"
        (keypress)="keyPressNumbers($event)"
      />
      <div *ngIf="submitted && f['cardNo'].errors" class="invalid-feedback">

        Lütfen kart numaranızı giriniz.

      </div>
    </div>
    <div class="form-group">
      <label for="ccv2"><b>CCV2</b></label>
      <input
        type="text"
        numeric
        maxlength="3"
        formControlName="ccv"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"

        [ngClass]="{ 'is-invalid': submitted && f['ccv'].errors }"
        (keypress)="keyPressNumbers($event)"
      />
      <div *ngIf="submitted && f['ccv'].errors" class="invalid-feedback">
        Bu alan boş bırakılamaz.
      </div>
    </div>
    <div class="form-group">
      <label for="sonKullanmaTarihi"><b>Son Kullanma Tarihi</b></label>
      <input
        type="text"
        maxlength="7"
        formControlName="sonKullanma"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"

        [ngClass]="{ 'is-invalid': submitted && f['sonKullanma'].errors }"
      />
      <div *ngIf="submitted && f['sonKullanma'].errors" class="invalid-feedback">
        Bu alan boş bırakılamaz.
      </div>
    </div>
    <div class="form-group2">
      <label for="sozlesme"><b>Sözleşme</b></label>

      <div class="col-sm-12">
        <span>

          <div class="icheckbox_square-green">

            <input
              icheck=""
              type="checkbox"
              name="txtSozlesme"
              ng-model="Info.Kart.KABUL"
              required=""
              class="ng-pristine ng-untouched ng-invalid ng-invalid-required"
            />
            <a ng-click="modalSozlesmeAc('uyelik')">    Üyelik sözleşmesini</a> ve&nbsp;<a ng-click="modalSozlesmeAc('gizlilik')">Gizlilik anlaşmasını</a>&nbsp;okudum. Kabul ediyorum.<ins class="iCheck-helper"></ins>
          </div>
          &nbsp;
        </span>
      </div>
      <div class="col-sm-4">
      </div>
    </div>


    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="Summary" style="font-size: 13px; position: relative;">


      <div style="float: right; margin: 10px;">
        <button
          type="button"
          pButton pRipple class="p-button-secondary btn-sm:2px"
          class="p-button-danger btn-sm:2px"
          routerLink="/basvuru-giris/buro-adimi"
          style="background-color: #c2c2c2; margin-top: 0px"
        >
          Önceki Adım
        </button>
        
          <button type="button" (click)="onReset()"  pButton pRipple class="p-button-danger btn-sm:2px" style="background-color: #c73939;" >Temizle</button>
          <button  pButton pRipple class="p-button-success"style="margin-left: 12px; margin-top: 0px ; background-color: #03a154" (click)="onSubmit()">Devam</button>
        </div>
    </form>


</div>  
  </form>
