
<h5>Cari İşlem Geçmişi</h5>
<div class="card">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Cari Hesap Kodu</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Cari
            </label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Hesap Adı</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6" style="margin-left: 0px;">
            <label for="lastname4">Cari Tarihi</label>
            <div class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
                <div style="height: 20px;">
                    <p-calendar [style]="{'width': '48.7%','display': 'inline-flex','height':'34px'}" [(ngModel)]="date" dateFormat="dd.mm.yy"></p-calendar>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Açıklama</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Kişi</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Müvekkil</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Dava Dosya Esas No</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Karşı Taraf
            </label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">İcra Dosya No</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">İşlem Yapan</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Hesap Türü</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Tümü</option>
                <option>Gider</option>
                <option>Gelir</option>
            </select>
        </div>
        <div>
            <p-button label="Yeni Kayıt" styleClass="p-button-rounded p-button-secondary pi pi-plus"></p-button>
            <p-button label="Yazdır" styleClass="p-button-rounded p-button-primary pi pi-print"></p-button>
            <p-button label="Sorgula" styleClass="p-button-rounded p-button-success pi pi-search"></p-button>
            <p-button label="Sorgula ve Yeni Sekmede Aç" styleClass="p-button-rounded p-button-success pi pi-search"></p-button>
        </div>

        </div>
        
    </div>
    