<div class="field grid">
    <label for="firstname3" class="col-fixed" style="width:100px">Firstname</label>
    <div class="col">
        <input id="firstname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
    </div>
</div>
<div class="field grid">
    <label for="lastname3" class="col-fixed" style="width:100px">Lastname</label>
    <div class="col">
        <input id="lastname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
    </div>
    <div class="field grid">
        <label for="lastname3" class="col-fixed" style="width:100px">Kullanıcı Tipi</label>
        <div class="col">
            <input id="lastname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>

            <label for="lastname3" class="col-fixed" style="width:100px">Pasif Kullanıcı Gösterme</label>
            <div class="icheckbox_square-green">

                <input
                  icheck=""
                  type="checkbox"
                  name="txtSozlesme"
                  ng-model="Info.Kart.KABUL"
                  required=""
                  class="ng-pristine ng-untouched ng-invalid ng-invalid-required"
                />
                <a ng-click="modalSozlesmeAc('uyelik')"></a>
              </div>
</div>