<h5> İcra Bilgileri</h5>
<div class="card">
    <h6>Lütfen icra bilgilerini eksiksiz giriniz.</h6>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Takip Tarihi</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Takip Yolu Türü</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Haciz</option>
                <option>Tahliye</option>
                <option>İflas</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">İlgili Avukat</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Danışma</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Takip Türü</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Haciz</option>
                <option>Tahliye</option>
                <option>İflas</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Durumu</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Haciz</option>
                <option>Tahliye</option>
                <option>İflas</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Takip Tutarı</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="address">Borcun Sebebi</label>
            <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Dosya No</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Föy No</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="address">Açıklama</label>
            <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Özel Föy No</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">İtiraz Tarihi</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">İcra Dairesi</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="address">İitiraz Açıklama</label>
            <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">İnfaz Tarihi</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Anlaşma Tutarı</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Anlaşma Tutarı</label>
            <p-checkbox name="groupname" value="val2" [(ngModel)]="selectedValues"></p-checkbox>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Kilitle</label>
            <p-checkbox name="groupname" value="val3" [(ngModel)]="selectedValues"></p-checkbox>
        </div>

    </div>
    <div >
        <p-button label="Kaydet" styleClass="p-button-rounded p-button-success pi pi-plus"></p-button>
        <p-button label="Geri" styleClass="p-button-rounded p-button-secondary pi pi-arrow-circle-left"></p-button>

    </div>
</div>

