<h5> İcra Bilgileri</h5>
<div class="card">
    <h6>Lütfen icra bilgilerini eksiksiz giriniz.</h6>
    <div class="formgrid grid">
        <div class="field col-6" style="margin-left: 0px;">
            <label for="lastname4">Takip Tarihi</label>
            <div class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
                <div style="height: 20px;">
                    <p-calendar [style]="{'width': '48.7%','display': 'inline-flex','height':'34px'}" [(ngModel)]="date1" dateFormat="dd.mm.yy"></p-calendar>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Takip Yolu Türü</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Haciz</option>
                <option>Tahliye</option>
                <option>İflas</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">İlgili Avukat</label>
            <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Danışma</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Takip Türü</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Haciz</option>
                <option>Tahliye</option>
                <option>İflas</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Durumu</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Haciz</option>
                <option>Tahliye</option>
                <option>İflas</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Takip Tutarı</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="address">Borcun Sebebi</label>
            <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Dosya No</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Föy No</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="address">Açıklama</label>
            <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Özel Föy No</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6" style="margin-left: 0px;">
            <label for="lastname4">İtiraz Tarihi</label>
            <div class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
                <div style="height: 20px;">
                    <p-calendar [style]="{'width': '48.7%','display': 'inline-flex','height':'34px'}" [(ngModel)]="date2" dateFormat="dd.mm.yy"></p-calendar>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">İcra Dairesi</label>
            <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="address">İitiraz Açıklama</label>
            <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-6" style="margin-left: 0px;">
            <label for="lastname4">İnfaz Tarihi</label>
            <div class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
                <div style="height: 20px;">
                    <p-calendar [style]="{'width': '48.7%','display': 'inline-flex','height':'34px'}" [(ngModel)]="date3" dateFormat="dd.mm.yy"></p-calendar>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Anlaşma Tutarı</label>
            <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="flex align-items-center gap-4" style="margin: 15px;">
            <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
            <label for="ny">Arşive Kaldırılanlar</label>
        </div>
        <div class="flex align-items-center gap-4"style="margin: 15px;">
            <p-checkbox name="group2" value="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
            <label for="ny">Kilitle</label>
        </div>
    </div>
    <p></p>
    <div >
        <p-button label="Kaydet" styleClass="p-button-rounded p-button-success pi pi-plus"></p-button>
        <p-button label="Geri" styleClass="p-button-rounded p-button-secondary pi pi-arrow-circle-left"></p-button>

    </div>
</div>

