<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Adınız </label>
        <input
          type="text"
          formControlName="fullname"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
        />
        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
          <div *ngIf="f['fullname'].errors['required']">
            Lütfen kullanıcının adını giriniz.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Soyadınız </label>
        <input
          type="text"
          formControlName="username"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
        />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">
            Lütfen kullanıcının soyadını giriniz.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Tc Kimlik No </label>
        <input
          type="text"
          numeric
          maxlength="11"
          formControlName="tc"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'is-invalid': submitted && f['tc'].errors }"
          (keypress)="keyPressNumbers($event)"
        />
        <div *ngIf="submitted && f['tel'].errors" class="invalid-feedback">
          <div *ngIf="f['tel'].errors['required']">
            Lütfen 11 haneli TC kimlik numaranızı giriniz
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Cep Telefonu </label>
        <input
          type="text"
          numeric
          maxlength="11"
          formControlName="tel"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'is-invalid': submitted && f['tel'].errors }"
          (keypress)="keyPressNumbers($event)"
        />
        <div *ngIf="submitted && f['tel'].errors" class="invalid-feedback">
          <div *ngIf="f['tel'].errors['required']">
            Lütfen cep telefon numaranızı giriniz.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>E-Posta </label>
        <input
          type="text"
          formControlName="email"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">
            Bu alan boş bırakılamaz.
          </div>
          <div *ngIf="f['email'].errors['email']">Geçersiz E-Posta Adresi</div>
        </div>
      </div>
      <div style="float: right;margin: 40px;float: right;margin: -9px;margin-right: 41px;">
          <button
            type="button"
            pButton pRipple class="p-button-secondary btn-sm:2px"
            class="p-button-danger btn-sm:2px"
            routerLink="/basvuru-giris/buro-adimi"
            style="background-color: #c2c2c2; margin-top: 0px"
          >
            Önceki Adım
          </button>
          
            <button type="button" (click)="onReset()"  pButton pRipple class="p-button-danger btn-sm:2px" style="background-color: #c73939;" >Temizle</button>
            <button  pButton pRipple class="p-button-success"style="margin-left: 12px; margin-top: 0px ; background-color: #03a154" (click)="onSubmit()">Devam</button>
          </div>
          
    </form>
  </div>
