<form>
    <div class="register-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!-- <div class="card">
            <h5>Vertical</h5>
            <div class="field">
                <label for="firstname1">Firstname</label>
                <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="lastname1">Lastname</label>
                <input id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div> -->
          <label for="buroAdi">Büro Adı </label>
          <input type="text"
            formControlName="buroAdi"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            [ngClass]="{ 'is-invalid': submitted && f['buroAdi'].errors }"
          />
          <div *ngIf="submitted && f['buroAdi'].errors" class="invalid-feedback">
            <div *ngIf="f['buroAdi'].errors['required']">
              Bu alan boş bırakılamaz.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="ilSelect">Büro İl</label>
          <div>
            <label for="ilSelect"></label>
            <select
              formControlName="buroIl"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              id="ilSelect"
              name="selectedIl"
              [(ngModel)]="selectedIl"
              placeholder="Lütfen bir il seçin"
            >
              <option *ngFor="let il of IlListesi" [value]="il.IL_ILCE_ID">
                {{ il.IL_ADI }}
              </option>
            </select>
            <div *ngIf="submitted && f['buroIl'].errors" class="invalid-feedback">
              <div *ngIf="f['buroIl'].value == 0">Bu alan boş bırakılamaz.</div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="selectedIl">
          <label for="exampleFormControlSelect1">Büro İlçe</label>
          <div>
            <label for="ilceSelect"></label>
            <select
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              id="ilceSelect"
              [(ngModel)]="selectedIlce"
            >
              <option
                *ngFor="let ilce of getIlceList(selectedIl.toString())"
                [value]="ilce"
              >
                {{ ilce }}
              </option>
            </select>
          </div>
        </div>
  
        <div class="form-group">
          <label>Büro Adres </label>
          <textarea
            type="text"
            formControlName="buroAdres"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            [ngClass]="{ 'is-invalid': submitted && f['buroAdres'].errors }"
          ></textarea>
          <div
            *ngIf="submitted && f['buroAdres'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['buroAdres'].errors['required']">
              Bu alan boş bırakılamaz.
            </div>
          </div>
        </div>
  
        <div style="margin-bottom: 5%"></div>
        <div class="form-group">
          <label>Cep Telefonu </label>
          <input
            type="text"
            numeric
            maxlength="11"
            formControlName="tel"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            [ngClass]="{ 'is-invalid': submitted && f['tel'].errors }"
            (keypress)="keyPressNumbers($event)"
          />
          <div *ngIf="submitted && f['tel'].errors" class="invalid-feedback">
            <div *ngIf="f['tel'].errors['required']">
              Lütfen cep telefon numaranızı giriniz.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Faks No</label>
          <input
            type="text"
            numeric
            maxlength="5"
            formControlName="faks"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            [ngClass]="{ 'is-invalid': submitted && f['faks'].errors }"
            (keypress)="keyPressNumbers($event)"
          />
          <div *ngIf="submitted && f['faks'].errors" class="invalid-feedback">
            <div *ngIf="f['faks'].errors['required']">
              Bu alan boş bırakılamaz.
            </div>
          </div>
        </div>
        <button type="button" (click)="onReset()" class="Delete">Temizle</button>
        <button class="Continue" (click)="onSubmit()">Devam</button>
      </form>
    </div>
  </form>
  
