<div class="col-12 xl:col-12">
    <h5>Büro Bilgileri <small>Lütfen büro bilgilerini eksiksiz giriniz.</small> </h5>
    <div class="card">
      <div class="field grid">
        <label for="lastname4" class="col-6 mb-2 md:col-2 md:mb-0">Büro Adı</label>
        <div class="col-12 md:col-10">
            <input id="lastname4" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>
    <div class="col-10 " style="display: flex">
      <label for="state">Büro İl</label>
      <select id="state" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
        <option >Lütfen Seçiniz</option>  
        <option>Arizona</option>
          <option>California</option>
          <option>Florida</option>
          <option>Ohio</option>
          <option>Washington</option>
      </select>
  </div>
  <div class="col-10 " style="display: flex ">
    <label for="state">Büro İlçe</label>
    <select id="state" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ">
        <option>Lütfen Seçiniz</option>
        <option>California</option>
        <option>Florida</option>
        <option>Ohio</option>
        <option>Washington</option>
    </select>
</div>
        <div class="field grid">
            <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">Adres</label>
            <div class="col-12 md:col-10">
                <input id="lastname4" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="field grid">
            <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0">Büro Telefon</label>
            <div class="col-12 md:col-10">
                <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="field grid">
            <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">Büro Fax</label>
            <div class="col-12 md:col-10">
                <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="4"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="field grid">
            <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0">Web Sitesi</label>
            <div class="col-12 md:col-10">
                <input id="firstname4" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="field grid">
            <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">E-Posta</label>
            <div class="col-12 md:col-10">
                <input id="lastname4" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" >
            </div>
            <div></div>
        </div>
        <div class="field grid">
            <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">IBAN No</label>
            <div class="col-12 md:col-10">
                <input id="firstname4" type="text" (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"  [maxLength]="11"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="field grid">
            <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">SMS Başlık</label>
            <div class="col-12 md:col-10">
                <input id="lastname4" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <form class="flex align-items-center gap-4" [formGroup]="formGroup">
          <label for="ny">Pasif Kullanıcı Gösterme</label>
          <p-checkbox formControlName="city" value="New York" inputId="ny"></p-checkbox>
      </form>
      <p></p>
        <div>
          <p-button label="Kaydet" styleClass="p-button-rounded p-button-success"></p-button>
          <p-button label="Geri " styleClass="p-button-rounded p-button-secondary"></p-button>
        </div>
      </div>
    </div>