<h5>Sıkça Sorulan Sorular</h5>
<div class="card">
    <div class="field col-12 md:col-12" style="display: flex;">
        <input _ngcontent-psn-c93="" type="text" pinputtext="" placeholder="Arama..." class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched" style="flex-grow: 1;" id="searchInput">
        <span class="input-group-btn">
            <button type="button" onclick="searchFAQ()" class="p-button-raised p-button-info h-2">Arama</button>
        </span>
        <div id="searchResults"></div>
    </div>
    <div class="button">
        <p-button label="Yeni Kayıt" styleClass="p-button-rounded p-button-primary pi pi-plus"></p-button>
    </div>
    <p></p>

    <div class="card">
        <i class="pi pi-question-circle" style="color: #708090"></i>
        
        <h4>Bürodaki Avukat olmayan çalışanlarımın programı kendi hesabından kullanmasını istiyorum, ne yapabilirim?</h4>
        <h6>Programa avukat olmayan bir kullanıcının ücretsiz olarak eklenebilmesi mümkündür? Avukat olmayan kullanıcının programa kayıt edilmesi için menüde bulunan “Yönetim Paneli” içinde bulunan “Kullanıcı İşlemleri” ekranındaki Yeni Kayıt butonu ile açılan alanlardaki bilgilerin doldurulması ve Kullanıcı Tipi olarak Sekreterya, Katip ya da Ofis Personeli seçeneklerinden birinin seçilmesi gerekmektedir.</h6>
    </div>
    <div class="card">
        <i class="pi pi-question-circle" style="color: #708090"></i>
        
        <h4>Dava dosyası kaydında müvekkil ve karşı taraf ekleme butonlarını göremiyorum. Dava modülünü nasıl kullanacağım?</h4>
        <h6>Menüdeki “Dava” başlığı altında bulunan Yeni Dava sayfasından dava dosyalarınızın kaydını yapılabilirsiniz. Yeni dava kaydı sırasında “İlgilenen Avukat”, “Dava Türü”, “Dava Durum” ve “Mahkeme" bilgilerinin girilmesi zorunludur. Diğer bilgiler dava sürecine uygun olarak dava kaydında yapılan düzenlemelerle tamamlanacaktır. Dava kaydedildikten sonra dava detayı ekranı açılacaktır. Bu ekranda bulunan “Müvekkil/Karşı Taraf” sekmesinden dava taraflarının kaydı yapılabilmektedir.</h6>
    </div>
    <div class="card">
        <i class="pi pi-question-circle" style="color: #708090"></i>
        
        <h4>Yapılacak işlem listesine yapılan kayıtların hatırlatmalarının mail olarak gelmesini nasıl sağlayabilirim?</h4>
        <h6>Ana menüdeki Araçlar başlığı altında bulunan Kullanıcı Tercihleri ekranından program uyarılarının SMS ve E-posta olarak yapılması konusunda tercihlerinizi kaydedebilirsiniz. Bu alanda “Hatırlatmalar e-posta ile yapılsın” tercihinin değeri “Evet” olmasına rağmen e-posta uyarısı alamıyorsanız lütfen durumu destek@burotek.av.tr adresine bildiriniz.</h6>
    </div>
    
</div>